* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  box-sizing: border-box;
}

.navbar {
	padding: 20px;
	display: flex;
	align-items: center;
	max-width: 600px;
	margin: 0 auto;
	border-bottom: 1px solid #2f2f2f;
}
.navbar h1 {
	color: #f1356d;
}
.navbar .links {
	margin-left: auto;
}
.navbar a {
	margin-left: 16px;
	text-decoration: none;
	padding: 6px;
}
.navbar a:hover {
	color: #f1356d;
}
.content {
	max-width: 600px;
	margin: 40px auto;
	padding: 20px;
}
.blog-title {
	color: #f1356d;
	position: relative;
	z-index: 1;
}
.blog-list { margin-bottom: 40px; }
.blog-title span {
	color: #f1356d;
	background-color: white;
	padding-right: 10px;
}
.blog-title span::after {
	content: '';
	width: 90%;
	height: 2px;
	background-color: #f1356d;
	position: absolute;
	bottom: .5em;
	right: 0;
	z-index: -1;
}
.blog-preview {
	padding: 10px 16px;
	margin: 10px 0 20px 0;
	border-bottom: 1px solid #fbfbfb;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	transition: all 200ms ease-in-out;
}
.blog-preview:hover {
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
	/* transform: scale(1.01); */
}
.blog-preview h2 {
	font-size: 20px;
	color: #f1356d;
	margin-bottom: 8px;
}
.blog-preview .blog-author {
	padding: 10px 0;
	border-bottom: 1px solid #f2f2f2;
}
.blog-preview .blog-author span{
	font-style: italic;
	text-decoration: underline;
	cursor: pointer;
	color: #f1356d;
}
.blog-preview .blog-body {
	padding: 15px 10px;
	text-align: justify;
	font-size: 15px;
	border-bottom: 1px solid #f2f2f2;
}
.blog-preview button {
	padding: 10px 15px;
	background-color: #f1356d;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	margin: 10px 0;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	transition: all 300ms ease-in-out;
}
.blog-preview button:hover {
	background-color: rgb(217, 32, 88);
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}